:host {
  display: flex;
  height: 100%;
  background: transparentize(#f44336, 0.05);
  border-right: #f44336;
  flex-direction: column;
  header {
    padding: 10px 20px;
    h1 {
      font-size: 16px;
      font-weight: lighter;
      text-align: center;
      color: #fff;
      padding: 10px 0;
      border: 1px solid #fff;
      border-radius: 10px;
    }
  }
  .configuration {
    flex-grow: 1;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  .copyrights {
    color: #fff;
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}
