<header>
  <span class="logo">
    <img alt="Logo" src="../../../assets/icons/graph.svg"/>
  </span>
  <h1>GraphGenerator</h1>
</header>
<div class="wrapper">
  <button mat-flat-button (click)="generateGraph()">Generate graph</button>
</div>
<div class="configuration">
  <h2>Regenerate:</h2>
  <button mat-flat-button class="option" (click)="regenerateNeighborhoodMatrix()">Neighborhood matrix</button>
  <button mat-flat-button class="option" (click)="regenerateListOfIncidents()">List of incidents</button>
  <button mat-flat-button class="option" (click)="regenerateAll()">Regenerate all</button>
  <h2>Search:</h2>
  <button mat-flat-button class="option" (click)="search3Cycles()">3-cycles</button>
  <button mat-flat-button class="option" (click)="search4Cycles()">4-cycles</button>
  <button mat-flat-button class="option" (click)="searchAll()">Search all</button>
</div>
<div class="wrapper">
  <button mat-flat-button (click)="generateFile()">Generate file</button>
</div>
<p class="copyrights">Created by Matthew Ciuła</p>
