:host {
  display: flex;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30vh;

  .logger-header {
    padding: 5px 0;
    display: flex;
    height: 3vh;
    min-height: 3vh;
    align-items: center;

    h2 {
      color: #fff;
      font-size: 15px;
    }

    .minimize {
      transition: background-color ease-in 0.2s;
      width: 22px;
      height: 22px;
      display: block;
      padding: 3px;
      margin: 0 5px;

      &:hover {
        background-color: transparentize(#f44336, 0.5);
      }

      img {
        max-width: 100%;
      }
    }
  }

  .logger-panel {
    display: flex;
    flex-direction: row;
    height: 27vh;

    .logger-container {
      padding: 5px 15px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow-y: auto;
      background-color: #111;

      p {
        color: #fff;
        font-size: 12px;
        font-family: 'Inconsolata-Regular', sans-serif;
        margin: 0;

        &.separator {
          margin-top: -14px;
        }
      }
    }

    .options {
      $option-size: 30px;
      width: 40px;
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .option {
        transition: background-color ease-in 0.2s;
        display: block;
        width: $option-size;
        height: $option-size;
        background-color: transparent;
        cursor: pointer;
        padding: 5px;

        &:hover {
          background-color: transparentize(#f44336, 0.5);
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}
