<div class="toolbox">
  <app-toolbox [configSender]="configCommunicator"
               [onRegenerateNeighborhoodMatrix]="onRegenerateNeighborhoodMatrix"
               [onRegenerateListOfIncidents]="onRegenerateListOfIncidents"
               [onSearch3Cycles]="onSearch3Cycles"
               [onSearch4Cycles]="onSearch4Cycles"
               [logger]="loggerCommunicator">
  </app-toolbox>
</div>
<div class="content">
    <app-canvas [configReceiver]="configCommunicator"
                [onRegenerateNeighborhoodMatrix]="onRegenerateNeighborhoodMatrix"
                [onRegenerateListOfIncidents]="onRegenerateListOfIncidents"
                [onSearch3Cycles]="onSearch3Cycles"
                [onSearch4Cycles]="onSearch4Cycles"
                [logger]="loggerCommunicator">
    </app-canvas>
    <app-console [writter]="loggerCommunicator">
    </app-console>
</div>

